<html>
    <head>
        <title>Rain Check</title>
        <script src="/static/skycons.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    <body >
        <p>
            <canvas id="icon-main" width="200" height="200"></canvas>
        </p>
        <script>
            var skycons = new Skycons({"color": "#555"});
            {% if weather.icon == 'rain' %}
            skycons.add("icon-main", Skycons.RAIN);
            {% elif weather.icon == 'sun' %}
            skycons.add("icon-main", Skycons.CLEAR_DAY);
            {% else %}
            skycons.add("icon-main", Skycons.CLOUDY);
            {% endif %}
            skycons.play();
        </script>

        {% if weather %}
        <p>
            <b>{{ weather.summary }}</b>
        </p>

        {% if weather.high %}
        <p>
            H: {{ weather.high }}
        </p>
        {% endif %}

        {% if weather.low %}
        <p>
            L: {{ weather.low }}
        </p>
        {% endif %}

        <p>
            <em>{{ weather.now }}</em>
            <br />
            <em>{{ weather.location }}</em>
        </p>

        {% else %}

        <p>
            <em>Looking up current location...</em>
        </p>
        <script>
            function getLocation() {
            if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
            } else {
            print("Geolocation is not supported by this browser.");
            }
            }
            function showPosition(position) {
            document.location = "check/" + position.coords.latitude + 
            "," + position.coords.longitude;
            }
            getLocation();
        </script>
        
        {% endif %}
        
    </body>
</html>
